@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}




.header {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: white;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 35px;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 15px;
}

.header-nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.eyecatch {
  height: 80vh;
  width: 100%;
  background: url(../img/mv.png);
  background-size: cover;
  padding-top: 30px;
}

.eyecatch h1 {
  text-align: center;
  padding-top: 20%;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.eyecatch p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.header-last {
  height: 300px;
  background-color: rgb(32, 32, 32);
}

.header-last h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-left: 15%;
  padding-top: 5%;
}

.header-last p {
  color: white;
  padding-left: 15%;
  width: 65%;
  padding-top: 20px;
}

.service {
  height: auto;
}

.service-title {
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}

.service-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.service-cat1,
.service-cat2,
.service-cat3,
.service-cat4 {
  width: 50%;
}

.service-cat2 .service-img,
.service-cat4 .service-img {
  margin-left: 30px;
}

.service-cat1 .service-img,
.service-cat2 .service-img,
.service-cat3 .service-img,
.service-cat4 .service-img {
  width: 70%;
}

.service-cat1 img,
.service-cat2 img,
.service-cat3 img,
.service-cat4 img, 
.service-cat1 p, 
.service-cat2 p, 
.service-cat3 p, 
.service-cat4 p { 
  width: 50%;
  height: auto;
}

.service-cat1 img,
.service-cat3 img, 
.service-cat1 h2,
.service-cat3 h2,
.service-cat1 p,
.service-cat3 p {  
  margin-left: 40%;
}

.service-trap {
  height: 100px;
  margin-top: 5%;
}

.service-trap link {
  padding-top: 100px;
}

.service-trap a {
  width: 100%;
  margin-left: 40%;
}

.link {
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 15px 70px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

.news {
  height: 500px;
  background-color: rgb(36, 36, 36);
}

.news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news-head h1 {
  color: white;
  font-size: 30px;
  margin-left: 20%;
  margin-top: 100px;
}

.news-head a {
  margin-right: 20%;
  margin-top: 100px;
  padding: 5px 30px;
}

.news-wrap {
  margin-top: 4%;
}

.news-list {
  background-color: white;
  margin-top: 15px;
  width: 60%;
  margin-left: 20%;
  padding: 20px 0 20px 20px;
}

.news-list h3 {
  display: inline;
  font-weight: bold;
}

.news-list a {
  color: #000;
  text-decoration: none;
}

.news-list:hover {
  opacity: 0.7;
}

.blog {
  height: auto;
}

.blog h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
}

.blog-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0 15%;
}

.blog-kind {
  width: 30%;
  height: auto;
}

.blog-kind a {
  width: 100%;
  height: auto;
}

.blog-kind a:hover {
  opacity: 0.7;
}
